/* CARDS */


  .card {
    margin: 10px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  aside {
    display: grid;
}
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    grid-row: 1/3;
    font-size: 30px;
  }
  
  .containerParagraph {
    display: flex;
    flex-direction: column;
    margin-top:.6rem;
  }
  
  .card__paragraph {
    margin: 3%;
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }

  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#f53c1f, #feeb3f);
  }